<?xml version="1.0"?>
<launch>
    <node pkg="simple_waypoint_creator" name="waypoint_creator" type="waypoint_creator.py" />
    <node pkg="simple_waypoint_creator" name="local_goal_creator" type="local_goal_creator" output="screen"/>
    <!-- <node pkg="rviz" type="rviz" name="rviz2" args="-d $(find chibi21_a)/config/simulate_dwa.rviz"/> -->

</launch>
